@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    --clr-red: hsl(0, 100%, 67%);
    --clr-red-bg: hsla(0, 100%, 67%, 0.05);
    --clr-yellow: hsl(39, 100%, 56%);
    --clr-yellow-bg: hsla(39, 100%, 56%, 0.05);
    --clr-teal: hsl(166, 100%, 37%);
    --clr-teal-bg: hsl(166, 100%, 37%, 0.05);
    --clr-blue: hsl(234, 85%, 45%);
    --clr-blue-bg: hsla(234, 85%, 45%, 0.05);

    --clr-grad-slate-blue: hsl(252, 100%, 67%);
    --clr-grad-royal-blue: hsl(241, 81%, 54%);
    --clr-grad-violet-blue: hsla(256, 72%, 46%, 1);
    --clr-grad-persian-blue: hsla(241, 72%, 46%, 0);

    --clr-neut-white: hsl(0, 0%, 100%);
    --clr-neut-pale-blue: hsl(221, 100%, 96%);
    --clr-neut-light-lavender: hsl(241, 100%, 89%);
    --clr-neut-dark-gray-blue: hsl(224, 30%, 27%);

    /* mobile: 375px */
    /* desktop: 1440px */

    --fw-medium: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    user-select: none;
    -webkit-user-drag: none;
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 375px;
    margin: 0 auto;
    gap: 1rem;
}

.card {
    box-shadow: 0 25px 35px var(--clr-neut-pale-blue);
}

.card__result {
    background: linear-gradient(var(--clr-grad-slate-blue), var(--clr-grad-royal-blue));
    border-bottom-left-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    text-align: center;
    padding: 1.375em 3em 2em;
}

.card__result__heading {
    color: var(--clr-neut-light-lavender);
}

.card__result__score-div {
    background: linear-gradient(var(--clr-grad-violet-blue), var(--clr-grad-persian-blue));
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 1em;
}

.card__result__score-div__score {
    color: var(--clr-neut-white);
    font-weight: var(--fw-extra-bold);
    font-size: 3.25rem;
}

.card__result__score-div__out-of {
    font-size: 0.875rem;
    font-weight: var(--fw-bold);
    color: var(--clr-neut-light-lavender);
    opacity: 0.5;
}

.card__result__comment-div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.card__result__comment-div__remark {
    color: var(--clr-neut-white);
    font-weight: var(--fw-bold);
    font-size: 1.3rem;
}

.card__result__comment-div__comparison {
    color: var(--clr-neut-light-lavender);
    font-size: 0.85rem;
    line-height: 1.5em;
}

.card__summary {
    padding: 1.375em;
    display: flex;
    flex-direction: column;
    gap: 1.375em;
}

.card__summary__category-div {
    display: flex;
    flex-direction: column;
    gap: 0.875em;
}

.card__summary__category-div__first-div {
    display: flex;
    background-color: var(--clr-red-bg);
    border-radius: 12px;
    justify-content: space-between;
    padding: 0.875em 1em;
}

.card__summary__category-div__second-div {
    display: flex;
    background-color: var(--clr-yellow-bg);
    border-radius: 12px;
    justify-content: space-between;
    padding: 0.875em 1em;
}

.card__summary__category-div__third-div {
    display: flex;
    background-color: var(--clr-teal-bg);
    border-radius: 12px;
    justify-content: space-between;
    padding: 0.875em 1em;
}

.card__summary__category-div__fourth-div {
    display: flex;
    background-color: var(--clr-blue-bg);
    border-radius: 12px;
    justify-content: space-between;
    padding: 0.875em 1em;
}

.card__summary__category-div__first-div__label-div, 
.card__summary__category-div__second-div__label-div, 
.card__summary__category-div__third-div__label-div, 
.card__summary__category-div__fourth-div__label-div {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.card__summary__category-div__first-div__label-div__label {
    font-weight: var(--fw-bold);
    color: var(--clr-red);
    font-size: 0.9rem;
}

.card__summary__category-div__second-div__label-div__label {
    font-weight: var(--fw-bold);
    color: var(--clr-yellow);
    font-size: 0.9rem;
}

.card__summary__category-div__third-div__label-div__label {
    font-weight: var(--fw-bold);
    color: var(--clr-teal);
    font-size: 0.9rem;
}

.card__summary__category-div__fourth-div__label-div__label {
    font-weight: var(--fw-bold);
    color: var(--clr-blue);
    font-size: 0.9rem;
}

.card__summary__category-div__first-div__score-div, 
.card__summary__category-div__second-div__score-div, 
.card__summary__category-div__third-div__score-div, 
.card__summary__category-div__fourth-div__score-div {
    display: flex;
    align-items: center;
}

.card__summary__category-div__first-div__score-div__score, 
.card__summary__category-div__second-div__score-div__score, 
.card__summary__category-div__third-div__score-div__score, 
.card__summary__category-div__fourth-div__score-div__score {
    font-size: 0.9rem;
    color: var(--clr-neut-dark-gray-blue);
}

.card__summary__category-div__first-div__score-div__score span, 
.card__summary__category-div__second-div__score-div__score span, 
.card__summary__category-div__third-div__score-div__score span, 
.card__summary__category-div__fourth-div__score-div__score span {
    font-size: 0.9rem;
    color: var(--clr-neut-dark-gray-blue);
    font-weight: var(--fw-extra-bold);
    margin-left: 0.125em;
    opacity: 0.5;
}

.card__summary__button {
    width: 100%;
    border: none;
    border-radius: 3.75rem;
    padding: 0.875em;
    background-color: var(--clr-neut-dark-gray-blue);
    color: var(--clr-neut-white);
    font-weight: var(--fw-bold);
    cursor: pointer;
}

.attribution, 
.attribution a {
    font-size: 0.75rem;
    text-align: center;
}

@media screen and (min-width: 800px) {
    body {
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        width: auto;
        gap: 1rem;
    }
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 700px;
        box-shadow: 15px 20px 35px var(--clr-neut-pale-blue);
        overflow: hidden;
    }
    .card__result {
        border-radius: 1.75rem;
        padding: 2em 3.5em;
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
    }
    .card__result__heading {
        font-size: 1.25rem;
    }
    .card__result__score-div {
        width: 185px;
        height: 185px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
    }
    .card__result__comment-div__remark {
        font-size: 1.5rem;
    }
    .card__summary {
        border-radius: 1.75rem;
        box-shadow: 15px 20px 35px var(--clr-neut-pale-blue);
        padding: 2em 1.875em;
        display: flex;
        flex-direction: column;
        gap: 1.75em;
    }
    .card__summary__heading {
        font-size: 1.25rem;
        margin: 0;
    }
}